*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sora", sans-serif;
    outline: none;
}

body {
    background-color: #e7af55;
}

.logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin: 20px auto;
    /*Para que o elemento fique centralizado com os comandos auto, é encessário colocar o display como bloc, para ocupar toda a linha*/
}

main {
     width: 375px;
     background-color: #f4f4f4;
     border-radius: 20px;
     margin: 0 auto;
     padding: 46px 26px 26px;
}

label {
    color: rgb(80, 80, 80);
    font-weight: 400;
    font-size: 14px;
}

select, input {
    background: #ffffff;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    appearance: none; /*Esconder a seta do select */
    padding-left: 18px;
    font-size: 16px;
    font-weight: 600;
    color: #555;
    cursor: pointer;
}

button {
    background-color: #c3800c;
    border-radius: 10px;
    border: none;
    height: 48px;
    width: 100%;
    color: white;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;


}

button :hover {
    opacity: 0.9;
}

button :active {
    opacity: 0.8;
}

section {
    border: 1px solid #c3800c;
    border-radius: 20px;
    margin-top: 36px;
    padding: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.arrow-img{

    margin: 15px 0px;
}

.caixa-currency {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.curency {
    color: #777777;
    font-size: 14px;
}

.curency-value, .curency-value-to-convert {
    color: #555555;
    font-size: 20px;
    font-weight: 600;
}
